<%- include('../partials/header') %>

<%= flight.airline %>
<%= flight.flightNo %>
<%= (flight.departs).toString().slice(4, 16) %>
<%= (flight.departs).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %>

<% if(flight.destinations.length) { %>
	<table>
		<thead>
			<tr>
				<th>Destination</th>
				<th>Arrives At</th>
			</tr>
		</thead>
		<tbody>
			<% flight.destinations.forEach(function(destination) { %>
				<tr>
					<td><%= destination.airport %></td>
					<td><%= destination.arrival %></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
<% } else { %>
	<h2>No destinations yet</h2>
<% } %>

<%- include('./destForm') %>

<%- include('../partials/footer') %>